h1 {
    font-size: 30px;
    color: #5e3d08;
    margin-bottom: 10px;
}

.panel {
    background: #fdf5e8;
    padding: 20px;
}

.listview {
    width: 900px;
    border-color: #f7d5a1;
}

.listviewentry {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin-left: 5px;
    border-color: #f7d5a1;
}

.listviewentry:hover {
    background: #fbead0;
}

.listviewdate {
    float:left;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 5px 15px 5px 10px;
    font-family: Courier, monospace;
    font-size: 14px;
    background: #c58315;
    color: #ffffff;
}

.listviewcontent {
    text-align: left;
    color: #5e3d08;
}

