/* Search Panel */

#bannerpicture {
    position: relative;
    margin: 20px 70px 0px 70px;
    background: url('../images/searchback.png') no-repeat;
    background-size: contain;
    width: 860px;
    height: 370px;
}

#searchmain {
    position: absolute;
    bottom: 30px;
    margin-left: 110px;
    padding: 15px 0px 15px 10px;
    width: 750px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

#searchmain input,
#searchmain select {
    color: #14523e;
    background-color: #d6f5eb;
}

#searchmain input:hover, #searchmain input:focus,
#searchmain select:hover, #searchmain select:focus {
    background-color: #c1f0e1;
}

#searchmain a {
    color: #14523e;
    background: #c1f0e1;
}
#searchmain a:hover {
    background: #84e1c4;
}

/* Menu Panel */
#contentmenu {
    width: 850px;
    margin: 0 auto;
}

#contentmenu a {
    display: block;
    float: left;
    width: 150px;
    height: 90px;
    line-height: 90px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    background: url('../images/buttonback.png') no-repeat center;
    background-size: contain;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: background 0.5s, -moz-box-shadow 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s, color 0.5s;
    transition: background 0.5s, box-shadow 0.5s, color 0.5s;
}

#contentmenu a:hover {
    -moz-box-shadow:0px 2px 5px rgba(10%, 10%, 10%, 0.7);
    -webkit-box-shadow:0px 2px 5px rgba(10%, 10%, 10%, 0.7);
    box-shadow:0px 2px 5px rgba(10%, 10%, 10%, 0.7);
}

#contentmenu #contentmenubutton1 {
    color: #19674f;
    background-color: #84e1c5;
}
#contentmenu #contentmenubutton2 {
    color: #195367;
    background-color: #84cae1;
}
#contentmenu #contentmenubutton3 {
    color: #754c0a;
    background-color: #f3c172;
}
#contentmenu #contentmenubutton4 {
    color: #5d2b6e;
    background-color: #cda3db;
}
#contentmenu #contentmenubutton5 {
    color: #232390;
    background-color: #adadeb;
}
#contentmenu #contentmenubutton1:hover {
    background-color: #46d2a8;
}
#contentmenu #contentmenubutton2:hover {
    background-color: #46afd2;
}
#contentmenu #contentmenubutton3:hover {
    background-color: #eda32c;
}
#contentmenu #contentmenubutton4:hover {
    background-color: #af6cc6;
}
#contentmenu #contentmenubutton5:hover {
    background-color: #8484e1;
}
