a {
    display: block;
}

.panel_ext1#page_member_menu1,
.panel_ext1[id^=page_member_buy] {
    background: #eafaf5;
}

.panel_ext1#page_member_menu2,
.panel_ext1[id^=page_member_sale] {
    background: #eaf6fa;
}

.panel_ext1 .panelhead {
    font-size: 18px;
    line-height: 30px;
}

.panel_ext1[id^=page_member_buy] .panelhead,
.panel_ext1[id^=page_member_sale] .panelhead {
    text-align: left;
    padding-left: 10px;
}

.panel_ext1#page_member_menu1 .panelhead,
.panel_ext1[id^=page_member_buy] .panelhead {
    background: #30cf9c;
    color: #13533f;
}

.panel_ext1#page_member_menu2 .panelhead,
.panel_ext1[id^=page_member_sale] .panelhead {
    background: #30a7cf;
    color: #134353;
}

.typeset_left {
    width: 145px;
}

.typeset_right {
    width: 855px;
}

.panel_ext1#page_member_menu1 .listview_type0,
.panel_ext1#page_member_menu1 .listview_type0 .listviewentry {
    border-color: #6fdcba;
}

.panel_ext1#page_member_menu1 .listview_type0 .listviewentry:hover {
    background: #d6f5eb;
}

.listview_type0 .listviewentry a {
    color: #14523e;
}

.panel_ext1#page_member_menu2 .listview_type0,
.panel_ext1#page_member_menu2 .listview_type0 .listviewentry {
    border-color: #6ec1dd;
}

.panel_ext1#page_member_menu2 .listview_type0 .listviewentry:hover {
    background: #d6edf5;
}

.panel_ext1#page_member_menu2 .listview_type0 .listviewentry a {
    color: #134353;
}
