.panel {
    background: #eaf6fa;
}

/* search panel */
#searchmain input,
#searchmain select,
#searchmain a,
#searchmain div,
.listviewhead a,
div[class^=productlist_] .productlistitem {
    color: #134353;
}

#searchmain input,
#searchmain select,
.productlist_g .productlistitem {
    background-color: #d6edf5;
}

#searchmain input:hover, #searchmain input:focus,
#searchmain select:hover, #searchmain select:focus,
#searchmain a,
.listviewhead [class^=productlistbutton] a {
    background-color: #c1e5f0;
}

#searchmain a:hover,
.listviewhead [class^=productlistbutton] a:hover {
    background: #83cae2;
}


.listviewhead,{
    width: 100%;
    height: 40px;
}

.listviewhead [class^=productlistbutton] {
    margin: 5px;
    display: block;
    width: 90px;
}

.listviewhead .productlistbutton_sort {
    float: left;
}

.listviewhead .productlistbutton_type {
    float: right;
}

.listviewhead [class^=productlistbutton] a {
    line-height: 30px;
    display: block;
}

.productlist_g .productlistitem:hover {
    background: #acdcec;
}
.productlist_l .productlistitem:hover {
    background: #d6edf5;
}

.productlist_l,
.productlist_l .productlistitem {
    border-color: #6ec1dd;
}
