.panel {
    background: #eafaf5;
}

#searchmain input,
#searchmain a,
.listviewhead a,
div[class^=productlist_] .productlistitem {
    color: #14523e;
}

#searchmain input,
.productlist_g .productlistitem {
    background: #d6f5eb;
}

#searchmain input:hover, #searchmain input:focus,
#searchmain a,
.listviewhead .productlistbutton a {
    background: #c1f0e1;
}

#searchmain a:hover,
.listviewhead .productlistbutton a:hover {
    background: #84e1c4;
}


.listviewhead,{
    width: 100%;
    height: 40px;
}

.listviewhead .productlistbutton {
    float: left;
    margin: 5px;
    display: block;
    width: 90px;
}

.listviewhead .productlistbutton a {
    line-height: 30px;
    display: block;
}

.productlist_g .productlistitem:hover {
    background: #adebd7;
}
.productlist_l .productlistitem:hover {
    background: #d6f5eb;
}

.productlist_l,
.productlist_l .productlistitem {
    border-color: #6fdcba;
}
