div[class^=productlist_] {
    float: left;
}

/* Color and Background */
div[class^=product]:not([class$=_title]) {
    color: #ffffff;
}
div[class^=product][class$=_code] {
    background: #b06969;
    font-family: Courier, monospace;
}
div[class^=product][class$=_rare] {
    background: #dbc157;
}
div[class^=product][class$=_num] {
    background: #5cd65c;
}
div[class^=product][class$=_price] {
    background: #ff8533;
}
div[class^=product][class$=_order_mode] {
    background: #3366ff;
}
div[class^=product][class$=_bid_mode] {
    background: #ff3333;
}
div[class^=product][class$=_off_mode] {
    background: #606060;
}
div[class^=product][class$=_normal_status] {
    background: #4ae07a;
}
div[class^=product][class$=_warning_status],
div[class^=product][class$=_reason] {
    background: #ff4dc6;
}
div[class^=product][class$=_time] {
    background: #30848a;
}
div[class^=product][class$=_admin_wait],
div[class^=product][class$=_buyer_wait],
div[class^=product][class$=_saler_wait] {
    background: #b472cf;
}



.product_buyer,
.product_saler {
}

/* For Gallery Mode */
.productlist_g .productlistitem {
    display: block;
    width: 182px;
    margin: 5px;
    float: left;
    border-radius: 3px;
}

.productlist_g .productlistitem:hover {
    -moz-box-shadow:0px 1px 3px rgba(40%, 40%, 40%, 0.5);
    -webkit-box-shadow:0px 1px 3px rgba(40%, 40%, 40%, 0.5);
    box-shadow:0px 1px 3px rgba(40%, 40%, 40%, 0.5);
}

.productlist_g .productlistitem .productlistitem_pic {
    background: url(../images/logo.png);
    background-size: cover;
    margin: 10px;
    width: 162px;
    height: 162px;
}

.productlist_g .productlistitem .productlistitem_code,
.productlist_g .productlistitem .productlistitem_rare,
.productlist_g .productlistitem .productlistitem_title, 
.productlist_g .productlistitem .productlistitem_num, 
.productlist_g .productlistitem .productlistitem_order_mode, 
.productlist_g .productlistitem .productlistitem_bid_mode, 
.productlist_g .productlistitem .productlistitem_price {
    line-height: 18px;
    font-size: 13px;
}

.productlist_g .productlistitem .productlistitem_code,
.productlist_g .productlistitem .productlistitem_rare,
.productlist_g .productlistitem .productlistitem_num, 
.productlist_g .productlistitem .productlistitem_order_mode, 
.productlist_g .productlistitem .productlistitem_bid_mode, 
.productlist_g .productlistitem .productlistitem_price {
    height: 18px;
}

.productlist_g .productlistitem .productlistitem_code,
.productlist_g .productlistitem .productlistitem_num,
.productlist_g .productlistitem .productlistitem_title {
    float: left;
    margin-left: 10px;
}
.productlist_g .productlistitem .productlistitem_rare,
.productlist_g .productlistitem .productlistitem_price {
    float: right;
    margin-right: 10px;
}
.productlist_g .productlistitem .productlistitem_code,
.productlist_g .productlistitem .productlistitem_rare,
.productlist_g .productlistitem .productlistitem_title {
    margin-bottom: 5px;
}
.productlist_g .productlistitem .productlistitem_num, 
.productlist_g .productlistitem .productlistitem_order_mode, 
.productlist_g .productlistitem .productlistitem_bid_mode, 
.productlist_g .productlistitem .productlistitem_price {
    margin-bottom: 10px;
}

.productlist_g .productlistitem .productlistitem_code {
    width: 90px;
}
.productlist_g .productlistitem .productlistitem_rare {
    width: 40px;
}
.productlist_g .productlistitem .productlistitem_title {
    text-align: left;
    clear: both;
    word-break: break-all;
    width: 162px;
    height: 36px;
}
.productlist_g .productlistitem .productlistitem_num {
    width: 35px;
}
.productlist_g .productlistitem .productlistitem_order_mode,
.productlist_g .productlistitem .productlistitem_bid_mode {
    float: right;
    margin-right: 5px;
    width: 33px;
}
.productlist_g .productlistitem .productlistitem_price {
    width: 45px;
}


/* For List Mode */
.productlist_l {
    border-bottom: 1px solid;
    margin: 5px;
}
.productlist_l .productlistitem {
    border-top: 1px solid;
    display: block;
    width: 950px;
    height: 30px;
    float: left;
}

.productlist_l .productlistitem .productlistitem_code,
.productlist_l .productlistitem .productlistitem_rare,
.productlist_l .productlistitem .productlistitem_title, 
.productlist_l .productlistitem .productlistitem_num, 
.productlist_l .productlistitem .productlistitem_order_mode, 
.productlist_l .productlistitem .productlistitem_bid_mode, 
.productlist_l .productlistitem .productlistitem_price {
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.productlist_l .productlistitem .productlistitem_code,
.productlist_l .productlistitem .productlistitem_rare,
.productlist_l .productlistitem .productlistitem_title {
    float: left;
    margin-left: 10px;
}
.productlist_l .productlistitem .productlistitem_num, 
.productlist_l .productlistitem .productlistitem_order_mode, 
.productlist_l .productlistitem .productlistitem_bid_mode, 
.productlist_l .productlistitem .productlistitem_price {
    float: right;
    margin-right: 10px;
}

.productlist_l .productlistitem .productlistitem_code {
    width: 100px;
}
.productlist_l .productlistitem .productlistitem_rare {
    width: 45px;
}
.productlist_l .productlistitem .productlistitem_num {
    width: 35px;
}
.productlist_l .productlistitem .productlistitem_order_mode,
.productlist_l .productlistitem .productlistitem_bid_mode {
    width: 33px;
}
.productlist_l .productlistitem .productlistitem_price {
    width: 45px;
}

/* Normally Use in Lists */
.product_code,
.product_rare,
.product_title, 
.product_num, 
.product_order_mode, 
.product_bid_mode, 
.product_off_mode,
.product_normal_status, 
.product_warning_status, 
.product_price,
.product_my_price,
.product_end_price,
.product_total_price,
.product_end_time,
.product_remain_time,
.product_buyer,
.product_saler,
.product_trace_cancel,
.product_deal_cancel,
.product_cancel_wait,
.product_cancel_not_wait,
.product_admin_wait,
.product_buyer_wait,
.product_saler_wait,
.product_receive_ack,
.product_send_ack,
.product_on_item,
.product_off_item, 
.product_del_item,
.product_deal_reason,
.product_product_reason,
.product_buyerror_reason,
.product_unget_reason,
.product_wrong_reason {
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    margin: 5px;
    float: left;
}

.listviewhead_code,
.product_code {
    width: 100px;
}
.listviewhead_rare,
.product_rare {
    width: 45px;
}
.listviewhead_num,
.product_num {
    width: 35px;
}
.listviewhead_mode,
.product_order_mode,
.product_bid_mode,
.product_off_mode {
    width: 33px;
}
.listviewhead_price,
.listviewhead_my_price,
.listviewhead_total_price,
.product_price,
.product_my_price,
.product_end_price,
.product_total_price {
    width: 45px;
}
.listviewhead_status,
.product_normal_status,
.product_warning_status {
    width: 80px;
}
.listviewhead_end_time,
.product_end_time {
    width: 130px;
}
.listviewhead_remain_time,
.product_remain_time {
    width: 65px;
}
.listviewhead_buyer,
.listviewhead_saler,
.product_buyer,
.product_saler {
    width: 100px;
}
.listviewhead_trace,
.listviewhead_cancel,
.listviewhead_ack,
.product_trace_cancel,
.product_deal_cancel,
.product_receive_ack,
.product_send_ack {
    width: 70px;
}
.listviewhead_reason,
.product_deal_reason,
.product_product_reason,
.product_buyerror_reason,
.product_unget_reason,
.product_wrong_reason {
    width: 100px;
}
.product_cancel_wait,
.product_cancel_not_wait {
    width: 50px;
}
.listviewhead_operation,
.product_admin_wait,
.product_buyer_wait,
.product_saler_wait {
    width: 110px;
}
.listviewhead_on_item,
.listviewhead_del_item,
.product_on_item,
.product_off_item, 
.product_del_item {
    width: 40px;
}

