#searchmain {
    line-height: 30px;
}

#searchmain form,
#searchmain input {
    float: left;
    margin: 0 5px 0 5px;
    height: 30px;
}

#searchmain #searchmaintext {
    width: 300px;
}

#searchmain form[id=searchmainarea] select {
    height: 30px;
    width: 90px;
}
#searchmain form[id=searchmaintype] select {
    height: 30px;
    width: 130px;
}
#searchmain form[id=searchmainmode] select {
    height: 30px;
    width: 110px;
}
#searchmain form[id=searchmainrare] select {
    height: 30px;
    width: 300px;
}

#searchmain #searchmainsubmit {
    float: left;
    margin: 0 0 0 5px;
    width: 60px;
}

#searchmain a {
    display: block;
}
