body, div, ul, li, h1, h2, h3, h4, h5, h6, p { 
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Calibri", "Heiti TC", "微軟正黑體";
}

body {
    background: #f2f2f2 url(../images/overlay.png) repeat top left fixed;
    text-align: center;
}

a {
    text-decoration: none;
}

#menu, #footer {
    position: fixed;
    text-align: center;
    width: 100%;
    background: #595959;
    z-index: 9999;
    overflow: hidden;
}

#menu {
    height: 55px;
}

#content {
    padding: 55px 0 40px 0;
    margin: 0 auto;
    width: 1000px;
    overflow: auto;
}

#footer {
    height: 40px;
    bottom: 0px;
}


